<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org/" ng-app="de.voan.www">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>AngularJS + TypeScript Bootstrap</title>

    <link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
</head>

<body ng-cloak>

<div class="main-wrapper" ng:view>
</div>

<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script><% }); %>
</body>
</html>
